---
title: OpenKit | Free Web Tools
---
<div class="container">
  <p>
    OpenKit is a collection of small free and open source web-tools.
  </p>

  <input id="searchbar" type="search" placeholder="What do you need to do?" autofocus>
</div>


<!-- TODO: Add filters -->

<div class="flex wrap gap" id="tools-registry-container">
  {% for tool in site.data.tools %}
    <div class="tool-descriptor flex column space-between {{ tool.category }}">
      <a href="/tools/{{ tool.slug }}" class="info" title="Click to view details">i</a>

      <h2 class="name">{{ tool.tool_name }}</h2>
      <p class="synopsis">{{ tool.synopsis }}</p>
      <!-- Add tags (hidden) so that the search can access them -->
      <span class="tags" style="display: none;">{% for tag in tool.tags %}{{ tag }} {% endfor %}</span>

      <div class="flex wrap gap-small" style="margin-top: 3px;">
        {% if tool.type == 'open-source' %}
          <span class="attribute success">Open Source</span>
        {% else %}
          <span class="attribute danger">Proprietary</span>
        {% endif %}
        {% if tool.ads %}
          <span class="attribute danger">Shows ads</span>
        {% endif %}
        {% if tool.mobile %}
          <span class="attribute success">Mobile ready</span>
        {% endif %}
      </div>

      <a href="{{ tool.link }}" class="launch-button">Launch</a>
    </div>
  {% endfor %}
</div>
