:root {
  --business-light: #E8E821;
  --development-light: #00ffff;
  --writing-light: #88ff88;
  --office-light: #0088ff;
  --graphics-light: #ff88ff;
  --productivity-light: #ff8888;
  --science-light: #bbb;

  --business-dark: #E8E821;
  --development-dark: #00ffff;
  --writing-dark: #88ff88;
  --office-dark: #0088ff;
  --graphics-dark: #ff88ff;
  --productivity-dark: #ff8888;
  --science-dark: #999;

  --accent-color: #1c8bd5;
  --accent-color-dark: #004480;
  --accent-color-mute: #b3bfd1;
}

* {
  box-sizing: border-box;
}

body, html {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
  cursor: default;
}

#app {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 60px auto 60px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 10px 20px;
}

.flex {
  display: flex;

  &.row { flex-direction: row; }
  &.column { flex-direction: column; }
  &.wrap { flex-wrap: wrap; }
  &.gap { gap: 20px; }
  &.gap-small { gap: 3px; }
  &.space-between { justify-content: space-between; }
}

main {
  overflow: auto;
}

a {
  color: inherit;
}

p {
  line-height: 120%;
}

header, footer {
  background-color: var(--accent-color-mute);
  color: white;

  .container.flex {
    align-items: center;
    /* padding: 0; */
    height: 100%;

    &.center { justify-content: center; }
    &.row { flex-direction: row; }
  }
}

footer .container.flex {
  justify-content: center;
}

#header-logo {
  height: 100%;
  display: inline-block;
  aspect-ratio: 3.4; /* The aspect ratio of the image, to ensure the nav gets pushed */

  img { height: 100%; }
}

nav {
  display: inline-block;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;

    li a {
      background-color: var(--accent-color);
      display: inline-block;
      padding: 5px 20px;
      border-radius: 10px;
      text-decoration: none;
    }
  }
}

table.tool-metadata {
  border-collapse: collapse;
  width: 100%;

  th, td {
    padding: 5px;
  }

  tr:not(:last-child) td {
    border-bottom: 1px dashed #666;
  }

  th {
    text-align: right;
    background-color: #ddd;
  }

  /* Set the border radius on the left side */
  tr:first-child th:first-child, tr:first-child td:first-child {
    border-top-left-radius: 8px;
  }

  tr:last-child th:first-child, tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
  }
}

#searchbar {
  display: block;
  font-size: 120%;
  margin: 20px 0;
  border: 1px solid #aaa;
  border-radius: 20px;
  padding: 0px 20px;
  line-height: 40px;
  width: 100%;
  transition: 0.5s outline ease;
  outline: 2px solid transparent;

  &:focus {
    outline: 2px solid var(--accent-color);
  }
}

div#tools-registry-container {
  padding: 0px 20px;
  max-width: 1024px;
  margin: 0 auto 40px auto;
  justify-content: center;
}

a.launch-button {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  border-radius: 8px;
  line-height: 20px;
  background-color: var(--accent-color);
  color: white;
  transition: 0.2s background-color ease;
  text-align: center;
  margin: 10px 0;
  width: 100%;

  &:hover {
    background-color: var(--accent-color-dark);
  }
}

span.tag, span.attribute {
  display: inline-block;
  background-color: #333;
  color: white;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 80%;
  text-transform: lowercase;

  &.success { background-color: #3bad1b; }
  &.danger { background-color: #fa5757; }

  &.business, &.development, &.writing, &.office, &.graphics, &.productivity {
    color: #333;
  }

  &.business { background-color: var(--business-light); }
  &.development { background-color: var(--development-light); }
  &.writing { background-color: var(--writing-light); }
  &.office { background-color: var(--office-light); }
  &.graphics { background-color: var(--graphics-light); }
  &.productivity { background-color: var(--productivity-light); }
  &.science { background-color: var(--science-light); }
}

div.tool-descriptor {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-template-rows: 32px auto auto 50px;
  align-items: center;
  grid-template-areas:
    "name info"
    "description description"
    "attributes attributes"
    "launch-button launch-button";
  width: 200px;
  font-size: 16px;
  border: none;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px 0px #2022;

  h2 {
    font-size: 16px;
    margin: 0;
    grid-area: name
  }

  p.synopsis { grid-area: description; }
  div.attributes { grid-area: attributes; }

  .info {
    grid-area: info;
    display: block;
    text-align: center;
    line-height: 20px;
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid #333;
    text-decoration: none;
  }

  /* Align the launch buttons more nicely */
  a.launch-button {
    grid-area: launch-button;
    margin-bottom: 0;
  }

  /* categories */
  &.business { border-top: 2px solid var(--business-light); }
  &.development { border-top: 2px solid var(--development-light); }
  &.writing { border-top: 2px solid var(--writing-light); }
  &.office { border-top: 2px solid var(--office-light); }
  &.graphics { border-top: 2px solid var(--graphics-light); }
  &.productivity { border-top: 2px solid var(--productivity-light); }
  &.science { border-top: 2px solid var(--science-light); }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #151515;
    color: #d8d8d8;
  }

  header, footer {
    background-color: #004480;
  }

  #searchbar {
    background-color: #162235;
    border-color: #151515;
    color: inherit;
    &::placeholder {
      color: #aaa;
    }
  }

  div.tool-descriptor {
    background-color: #162235;
    border-color: #999;

    &.business { border-top: 2px solid var(--business-dark); }
    &.development { border-top: 2px solid var(--development-dark); }
    &.writing { border-top: 2px solid var(--writing-dark); }
    &.office { border-top: 2px solid var(--office-dark); }
    &.graphics { border-top: 2px solid var(--graphics-dark); }
    &.productivity { border-top: 2px solid var(--productivity-dark); }
    &.science { border-top: 2px solid var(--science-dark); }

    .info { border-color: #fff; }
  }

  table.tool-metadata th { background-color: #162235; }

  span.tag, span.attribute {
    background-color: #666;
  }
}

@media (max-width: 460px) {
  div.tool-descriptor {
    width: 100%;
  }
}
