<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ 'assets/main.css' | relative_url }}">
    <script src="{{  'assets/app.js' | relative_url }}"></script>
    <script src=" https://cdn.jsdelivr.net/npm/fuzzy/lib/fuzzy.min.js "></script>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="container flex gap">
          <img id="header-logo" src="{{ 'assets/openkit.svg' | relative_url }}">
          <h1 id="page-heading">{{ page.title }}</h1>
        </div>
      </header>

      <main>
        {{ content }}
      </main>

      <footer>
        <div class="container">
          OpenKit &copy; 2024 | <a href="https://github.com/nathanlesage/openkit">View on GitHub</a>
        </div>
      </footer>
    </div>
  </body>
</html>
