<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ 'assets/main.css' | relative_url }}">
    <link rel="shortcut icon" href="{{ 'assets/favicon.ico' | relative_url }}" type="image/x-icon">

    <!-- Social etc. -->

    <!-- Title metas -->
    <meta name="title" content="OpenKit | Free Web Tools">
    <meta property="og:title" content="OpenKit | Free Web Tools">
    <meta name="twitter:title" content="OpenKit | Free Web Tools">

    <!-- Description metas -->
    <meta name="description" content="Free to use web tools for every day.">
    <meta property="og:description" content="Free to use web tools for every day.">
    <meta name="twitter:description" content="Free to use web tools for every day.">

    <!-- Page image metas -->
    <meta property="og:image" content="{{ 'assets/openkit_open_graph.png' | relative_url }}">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="640">
    <meta name="twitter:image" content="{{ 'assets/openkit_open_graph.png' | relative_url }}">

    <!-- Twitter specific -->
    <meta name="twitter:card" content="summary" />

    <!-- Facebook specific -->
    <meta property="og:type" content="article" />

    <!-- URLs -->
    <link rel="canonical" href="https://openkit.eu">
    <meta property="og:url" content="https://openkit.eu">

    <!-- Generics and site names -->
    <meta property="og:site_name" content="OpenKit">

    <meta name="keywords" content="Tools, Web, Free, Online, Apps, Mini-apps">
    <meta name="robots" content="index, follow">

    <!-- Scripts -->
    <script src="{{  'assets/app.js' | relative_url }}"></script>
    <script src=" https://cdn.jsdelivr.net/npm/fuzzy/lib/fuzzy.min.js "></script>
  </head>
  <body>
    <div id="app">
      <header>
        <div class="container flex">
          <a href="{{ '/' | relative_url }}" id="header-logo">
            <img src="{{ 'assets/openkit.svg' | relative_url }}">
          </a>
          <nav>
            <ul>
              <li><a href="{{ '/about' | relative_url }}">About</a></li>
            </ul>
          </nav>
        </div>
      </header>

      <main>
        {{ content }}
      </main>

      <footer>
        <div class="container flex gap">
          <p>
            OpenKit &copy; 2024 |
            <a href="https://github.com/nathanlesage/openkit">View on GitHub</a>
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
